.productsContainer {
       max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

    button {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); /* Responsive columns */
    gap: 40px;
}

.productCard {

    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s; /* Smooth hover effect */
    padding: 35px;
    position: relative;
    margin-top: 20px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block; /* Make the whole card clickable */
    }
}

.productImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    max-height: 350px;
    height: 100%;
    margin-top: 20px;
  }
  
  .productTitle {
    font-size: 35px;
    margin-bottom: 5px;
    color: #333;
    height: 50px;
    margin-top: 50px;
    
  }
  
  .productPrice {
    color: #007bff;
    text-decoration: line-through; /* Adds a strikethrough effect */
    font-size: 25px;
  }
  
  
  .productStock {
    color: green;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .noProducts {
    text-align: center;
    font-style: italic;
    color: #777;
    padding: 20px;
  }
.producDiscount{
  position: absolute;
  top: 15px;
  right: 15px;
  background: #007bff;
  color: white;
  padding: 15px;
  font-size: 20px;
}
.productStockWithDiscount{
  color: #007bff;
  background: #f1de72;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
}

.btn{
  
  color: green;
  font-size: 0.9rem;
  padding: 10px;
  margin-top: 20px;
}
.img{
   max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 50px;
  right: 40px;
}
.productDescription{
  font-size: 20px;
  width: 500px;
}
.box{
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box1{
  display: flex;
  justify-content: center;
}
.input{
  width: 125px;
  height: 25px;
  font-size: 15px;
  padding: 15px;
  color: #007bff;
  
}
.btn{
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  margin-top: 0;
  background: #f1de72;
  border: 1px solid black;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.swiperContainer {
  position: relative; /* Required for positioning the buttons */
}

.swiperButtons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  transform: translateY(-50%);
  z-index: 10; /* Ensure buttons are on top of the slider */
}

.swiperButton {
  background-color: white;
  color: #007bff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
